$light-weight:300;
$regular-weight:400;
$semibold-weight:600;
$bold-weight: 700;

$spaced-letters: .125em;

$white: #fff;
$black: #000;

$blue: #223355;
$pink: #ea2c76;

$text-color:#231F20;


%fontawesome {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display,inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}

%clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

%hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}