.header {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 75svh;

  &--full-height {
    min-height: 100svh;

    @media only screen and (max-width: 600px) {
      min-height: 75svh;
    }
  }
  &--front-page {
    min-height: 100svh;
  }
  &--small {
    min-height:unset;
  }

  &__content {
    width: 100%;
    padding:calc(var(--offset-vertical) * 2) var(--offset-side);
    margin: auto;

    &--small {
      padding:calc(var(--offset-vertical) * 2) var(--offset-side) var(--offset-vertical);
    }

    &__title {
      display: block;
      margin-bottom: .5rem;
      font-weight: $bold-weight;
    }

    &__headline {
      margin: 0 0 var(--offset-block);

      &--bold {
        font-weight: $bold-weight;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__case-meta {
      display: flex;
      gap: 1.5em var(--offset-side);
      flex-wrap:wrap;

      &__item {
        flex: 0 1 auto;

        @media only screen and (max-width: 600px) {
          flex:0 1 calc(50% - var(--offset-block) / 2);
        }

        &__label {
          display: block;
          margin-bottom: 1em;
          font-weight: $semibold-weight;
          line-height: 1.2;
          white-space:nowrap;
        }

        &__value {
          display: block;
          color: var(--plain-text-color);
          font-size: .9em;
          line-height: 1.2;
          white-space:nowrap;
        }
      }
    }
  }

  &__usps {
    position: absolute;
    bottom: var(--offset-block);
    left: var(--offset-block);
    display: flex;
    gap: 1.5em;

    @media only screen and (max-width: 600px) {
      display: none;
    }

    &__usp {
      flex: 1 0 auto;

      &__waarde {
        display: block;
        margin-bottom: .25rem;
        line-height: 1.2;
        font-size: 1.75em;
        font-weight: $semibold-weight;
      }

      &__subtext {
        display: block;
        color: var(--plain-text-color);
        font-size: .9em;
        line-height: 1.2;
      }
    }
  }
}

.blog-single {
  padding: calc(var(--offset-vertical) * 2) var(--offset-side) 0;

  &__hero {
    max-width: 42em;
    margin: 0 auto var(--offset-vertical);

    &__headline {
      margin-bottom: var(--offset-block);
      font-weight: $bold-weight;
    }

    &__blog-meta {
      display: flex;
      gap: 1.5em var(--offset-side);
      flex-wrap: wrap;

      &__item {
        flex: 0 1 auto;

        @media only screen and (max-width: 600px) {
          flex: 0 1 calc(50% - var(--offset-block) / 2);
        }

        &__label {
          display: block;
          margin-bottom: 1em;
          font-weight: $semibold-weight;
          line-height: 1.2;
          white-space: nowrap;
        }

        &__value {
          display: block;
          color: var(--plain-text-color);
          font-size: .9em;
          line-height: 1.2;
          white-space: nowrap;

          &--link {
            text-decoration: underline;

            &:hover {
              color: inherit;
            }
          }
        }
      }
    }
  }
}

.blog-home {
  padding: var(--offset-vertical) var(--offset-side);

  &--archive {
    padding-top: calc(var(--offset-vertical) * 2);
  }

  &__archive-header {
    margin-bottom: var(--offset-vertical);

    &__title {
      display: block;
      margin-bottom: .5rem;
      font-weight: $bold-weight;
    }

    &__headline {
      margin: 0;
    }
  }
}