@import './assets/css/reset/core';

.textgrid {
  padding:var(--offset-vertical) var(--offset-side);

  &__inner {
    display:grid;
    gap:calc(var(--offset-block) * 2) var(--offset-side);

    @media only screen and (max-width: 810px) {
      gap:calc(var(--offset-block) * 1.5);
    }

    &--rows {
      grid-template-columns: 1fr 2fr;

      @media only screen and (max-width: 1080px) {
        grid-template-columns: 1fr;
      }
    }
    &--columns {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    margin:0;
    font-weight:$bold-weight;
    grid-column: 1 / 2;

    &--columns {
      text-align:center;

      @media only screen and (max-width: 600px) {
        text-align:left;
      }
    }
  }

  &__grid {
    display:grid;
    gap:calc(var(--offset-block) * 1.5) var(--offset-side);

    &--rows {
      grid-column: 2 / 3;
      grid-template-columns: 1fr 1fr;

      @media only screen and (max-width: 1080px) {
        grid-column: 1 / 2;
      }
    }
    &--columns {
      grid-column: 1 / 2;
      grid-template-columns: 1fr 1fr 1fr;

      @media only screen and (max-width: 1080px) {
        grid-template-columns: 1fr 1fr;
      }
    }

    @media only screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    &__item {
      &__title {
        font-size:1.5em;
        font-weight:$semibold-weight;

        @media only screen and (max-width: 1080px) {
          font-size:1.4em;
        }
        @media only screen and (max-width: 900px) {
          font-size:1.3em;
        }
        @media only screen and (max-width: 810px) {
          font-size:1.2em;
        }
        @media only screen and (max-width: 600px) {
          font-size:1.1em;
        }
      }

      &__text {
        margin:1.25em 0;

        @media only screen and (max-width: 600px) {
          margin: 1em 0;
        }
      }
    }
  }

  &__button-wrapper {
    margin:calc(var(--offset-block) * 2) 0 0;
    text-align:center;
    font-size:1.2em;

    @media only screen and (max-width: 810px) {
      margin-top:var(--offset-block);
      font-size:1em;
    }
  }
}