@import './assets/css/reset/core';

.falling-images {
  padding:0 var(--offset-side);
  height:100vh;
  height:100lvh;
  overflow:hidden;

  &__list {
    padding:var(--offset-vertical) 0;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:0 var(--offset-side);

    @media only screen and (max-width: 810px) {
      grid-template-columns: 1fr;
    }

    &__item {
      display:flex;
      justify-content: center;
      padding:var(--offset-vertical) 0;

      &__wrapper {
        width:100%;
        max-width:32em;
        margin:auto;
      }

      &__img {
        display:block;
        width:100%;
        height:auto;
      }
    }
  }
}