@import './assets/css/reset/core';

.blog-single {
  padding:calc(var(--offset-vertical) * 2) var(--offset-side) 0;

  &__hero {
    max-width:42em;
    margin:0 auto var(--offset-vertical);

    &__headline {
      margin-bottom:var(--offset-block);
      font-weight:$bold-weight;
    }

    &__blog-meta {
      display: flex;
      gap: 1.5em var(--offset-side);
      flex-wrap:wrap;

      &__item {
        flex: 0 1 auto;

        @media only screen and (max-width: 600px) {
          flex:0 1 calc(50% - var(--offset-block) / 2);
        }

        &__label {
          display: block;
          margin-bottom: 1em;
          font-weight: $semibold-weight;
          line-height: 1.2;
          white-space:nowrap;
        }

        &__value {
          display: block;
          color: var(--plain-text-color);
          font-size: .9em;
          line-height: 1.2;
          white-space:nowrap;

          &--link {
            text-decoration: underline;

            &:hover {
              color: inherit;
            }
          }
        }
      }
    }
  }

  &__content {
    max-width:42em;
    margin:auto;
    color:inherit;
  }

  &__tag-list {
    padding-left:0 !important;
    margin-top:var(--offset-block) !important;
    color:inherit;
    text-align:center;
    line-height:1;

    &__item {
      display:inline-block;
      margin:.5em !important;

      a {
        display: block;
        padding: .5em;
        border: 1px solid;
        font-size: .8em;
        text-transform: uppercase;
        color: var(--plain-text-color);
        text-decoration:none;

        &:hover {
          color:inherit;
        }
      }
    }
  }

  &__external-items {
    margin-top:var(--offset-block);
    text-align:center;

    &__title {
      display:block;
      font-weight:$semibold-weight;
    }

    &__list {
      list-style:none !important;
      margin-top:.5em !important;
      color:var(--plain-text-color);

      &__item {
        margin: 0 !important;

        &__link {
          text-decoration:none !important;
        }
      }
    }
  }
}

.related-posts {
  padding:var(--offset-vertical) 0;

  &__title {
    margin:0;
    font-weight:$bold-weight;
  }

  &__list {
    margin-top:var(--offset-block);
    font-size:2.25em;
    line-height:1;

    @media only screen and (max-width: 1080px) {
      font-size:2em;
    }
    @media only screen and (max-width: 900px) {
      font-size:1.75em;
    }
    @media only screen and (max-width: 810px) {
      font-size:1.5em;
    }
    @media only screen and (max-width: 600px) {
      font-size:1.25em;
    }
    @media only screen and (max-width: 380px) {
      font-size:1em;
    }

    &__item {
      margin-bottom:-1px;
      border-top:1px solid var(--plain-text-color);
      border-bottom:1px solid transparent;

      &:last-child {
        border-bottom-color: var(--plain-text-color);
      }

      &__link {
        position: relative;
        display:block;
        padding:1em 0;
      }

      &__title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &__metadata {
        position:absolute;
        top:1em;
        font-size:.8rem;
        color:var(--plain-text-color);

        @media only screen and (max-width: 1080px) {
          display:none;
        }

        &--right {
          right:0;
        }

        li {
          display:inline-block;
          margin:0 1em 0 0;

          &:last-child {
            margin-right:0;
          }
        }
      }
    }
  }
}