@import './assets/css/reset/core';

.team {
  padding:var(--offset-vertical) var(--offset-side);

  &__title {
    margin:0 0 var(--offset-block);
    font-weight:$bold-weight;
  }

  &__list {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:var(--offset-block);

    @media only screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    &__item {
      &__photo {
        display:block;
        width:100%;
        height:auto;
      }

      &__persona {
        padding-top:1.25rem;
        line-height:1.25;

        &__name {
          display:block;
          font-weight:$semibold-weight;
          font-size:1.5em;

          @media only screen and (max-width: 1080px) {
            font-size:1.4em;
          }
          @media only screen and (max-width: 900px) {
            font-size:1.3em;
          }
          @media only screen and (max-width: 810px) {
            font-size:1.2em;
          }
        }
        &__functie {
          display:block;
          font-weight:$light-weight;
          font-size:1.25em;

          @media only screen and (max-width: 1080px) {
            font-size:1.2em;
          }
          @media only screen and (max-width: 810px) {
            font-size:1.1em;
          }
          @media only screen and (max-width: 600px) {
            font-size:1em;
          }
        }
      }
    }
  }
}