@import './assets/css/reset/core';

.blog-download {
  display:flex;
  gap:var(--offset-block) var(--offset-side);
  justify-content:space-between;
  align-items:center;
  width:calc(100% + (var(--offset-side) * 2));
  margin:calc(var(--offset-block) * 2) calc(var(--offset-side) * -1);
  padding:var(--offset-boxed) var(--offset-side);
  font-size:1rem;

  @media only screen and (max-width: 1024px) {
    width:100%;
    margin-right:0;
    margin-left:0;
  }
  @media only screen and (max-width: 768px) {
    flex-direction:column;
  }

  &__content {
    flex:5;
    order:1;

    @media only screen and (max-width: 768px) {
      order:2;
    }

    &__title.css-title {
      font-size:1.8em;
    }

    &__usps {
      margin:var(--offset-block) 0;

      &:first-child {
        margin-top:0;
      }
      &:last-child {
        margin-bottom:0;
      }
    }

    &__button-wrapper {
      width:fit-content;
      margin-top:var(--offset-block);
      text-align:center;

      @media only screen and (max-width: 768px) {
        margin:var(--offset-block) auto 0;
      }

      &__button {
        display:block;
        margin:0 auto .5em;
      }

      &__subtext {
        display:block;
        font-size:.75em;
        opacity:.5;
      }
    }
  }

  &__image {
    flex:2;
    order:2;

    @media only screen and (max-width: 768px) {
      order:1;
    }

    img {
      margin-left:auto;
      margin-right:auto;

      @media only screen and (max-width: 768px) {
        max-width:10em;
      }
    }
  }
}